<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
</head>
<body>
    <h1>Información</h1>
    <!--En vez de usar i, tuve que usar tiendas para que me reconociera el detail-->
    <p>Ubicación : {{tiendas.ubicacion}}</p>
    <p>Numero de sucursal : {{tiendas.sucursal}} </p>
    <a href="{% url 'tienda_lista' %}" > Regresar</a>
</body>
</html>